.loginBackgroundContainer{  
	height: 100%;
	/* max-height: 600px; */
/* 	width: 1000px; */
	background-color: hsla(200,40%,30%,.4);
/*    wire fence */
	background-image:		
		url('/public/Aliens.png'), 

/*  ramp and trash can */
		url('/public/ramp.png'),

/*  clouds fog */
		url('/public/clouds.png'),

/*  Mountains */
		url('/public/background-22.png'),

/*  clouds background*/

   url('/public/background_test.jpg');
	background-repeat: repeat-x;
	background-position: 
		0 50%,
		0 100%,
		0 60%,
		0 100%,
		0 0;
	background-size: 
		2500px,
		800px,
		500px,
		1200px,
		2500px;
	animation: 180s para infinite linear;
}

.slantyardDisplay{
background: rgb(119,244,156);
background: linear-gradient(156deg, rgba(119,244,156,1) 0%, rgba(27,191,165,1) 34%, rgba(93,251,255,0.7119048302914917) 55%, rgba(167,255,137,1) 85%) no-repeat center center fixed; 
font-family: 'Shrikhand', cursive;
flex-basis:75%;
flex-grow:1;
min-width:200px;
max-width:600px;
margin:auto;
text-align:center;
font-size:72px;
color:white;
animation: fade .25s ease-out;
}
@media screen and (max-width: 600px) {
    .slantyardDisplay{
        background: rgb(119,244,156);
        background: linear-gradient(156deg, rgba(119,244,156,1) 0%, rgba(27,191,165,1) 34%, rgba(93,251,255,0.7119048302914917) 55%, rgba(167,255,137,1) 85%) no-repeat center center fixed; 
        font-family: 'Shrikhand', cursive;
        flex-basis:75%;
        flex-grow:1;
        min-width:200px;
        max-width:600px;
        margin:auto;
        text-align:center;
        font-size:48px;
        color:white;
        animation: fade .25s ease-out;
        }
        .loginFormInfo{
            background-color:rgb(240, 237, 237);
            padding:20px;
            width:100vw;
            margin:auto;
            border-radius: 10px;
            font-size:14px;
          }
  }
.loginForm{
width:75%;
min-width:200px;
background:rgba(255,255,255,.75);
margin:auto;
}

.loginContainer{
position:relative;
/* height:100px; */
animation: 1s fadeMove ease-out;

/* bottom:6.66vh; */
font-family: 'Shrikhand', cursive; 
flex-basis:75%;
flex-grow:1;
/* min-width:400px; */
text-align:center;
font-size:48px;
color:black;
}

.slantyardDisplayContainer{
height:75vh;

display:block-flex;
 justify-content:center;
align-items:center;
/* flex-wrap:no-wrap; */

width:80%;
margin-left:10%;
margin-right:10%;
}
.loginInputNew input{
padding:10px;
min-width:200px;
font-size:14px;
background-color:rgba(100,100,125,0.8);
color:white;
border:none;}
.loginInputNew input::placeholder{

	color:rgb(231, 231, 231);
	border:none;}
.loginInputNew input:focus{
min-width:200px;
font-size:20px;
background-color:rgba(100,100,125,0.8);
color:white;
border:none;
 outline: none;}

.slantTextClass{
display:inline-block;
animation: letterHop ease-out infinite;
animation-duration:2s;
}

#S{
animation-delay:.333s;
}

#l{
animation-delay:.666s;
}

#a{
animation-delay:.999s;
}

#n{
animation-delay:1.333s;
}

#t{
animation-delay:1.666s;
}

#y{
animation-delay:1.999s;
}

#a{
animation-delay:2.333s;
}
#r{
animation-delay:2.666s;
}

#d{
animation-delay:2.999s;
}

@keyframes letterHop{
  40%{transform:translateY(1.5px);}
  60%{transform:translateY(0px);}
  80%{transform:translateY(-0.5px)}
  }

@keyframes para {
	100% {
		background-position: 
			-5000px 20%,
			-800px 95%,
			500px 50%,
			1000px 100%,
			400px 0;
		}
	}

@keyframes fade {
  0%{
opacity:0;}
	100% {
		opacity:1;
		}
	}

@keyframes fadeMove {
  0%{transform:translateY(100vh);
opacity:0;}
	100% {
		opacity:1;
		}
	}


    .loginInputNew{
        margin-top:20px;
    }