.errorSpan {
  color: #ff0000;
}
.globalTopMargin {
  padding: 1rem 0;
}
.adminButtons {
  margin-right: 0px;
  margin-top: 5px;
  display: inline;
}
.adminButtonsEach {
  margin: 5px;
}
/* Text for Posted Edited Font */
.PostedEditedText {
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
}
.spotButton {
  padding-right: 10px;
}
.mainDiv {
  background-color: rgb(117, 152, 208);
  background-image: url("../../public/rasmus-smedstrup-mortensen-_ZtPsxAomeI-unsplash.jpg");
  background-repeat: repeat;
  padding-top: 4rem;
  min-height: 100vh;

  padding-bottom: 1rem;
}
.spotCardHeader {
  background-color: rgb(240, 240, 240);
  border-radius: 50px 50px 0px 0px;
}
/* .spotCardHeader:hover{background-color:#e0dede} */
.spotCard:hover {
  opacity: 0.95;
}
.publicPrivate {
  background-color: none;
}
.private {
  background-color: rgb(236, 85, 3);
  border-radius: 20rem;
  width: 5rem;
  padding: 1rem;
  text-align: center;
  color: white;
  font-weight: 500;
}
.public {
  background-color: rgb(35, 155, 153);
  border-radius: 20rem;
  width: 5rem;
  padding: 1rem;
  text-align: center;
  color: white;
  font-weight: 500;
}
.like {
  color: rgb(62, 152, 89);
}
a.like:hover {
  color: rgb(89, 199, 122);
}
.spotCard {
  background-color: #f0f1f1;
  border-radius: 50px;
  padding: 1rem;
  margin: auto;
  width: 90%;
  overflow: auto;
}
.spotCardParent {
  padding: 2rem 0;
  width: 80%;
  margin: auto;
}
.allSpotsToggle {
  background-color: #f0f1f1;
  border-radius: 0px 0px 15px 15px;
}
.singleSpotDescription {
  padding: 2rem 0;
  width: 80%;
  margin: auto;
}
.singleSpotDescriptionInner {
  background-color: #f0f1f1;
  border-radius: 50px;
  padding: 1rem;
  width: 100%;
}
.singleSpotPics {
  padding: 2rem 0;
  width: 100%;
  margin: auto;
}
.singleSpotPicsInner {
  background-color: #f0f1f1;
  border-radius: 50px;
  padding: 1rem;
  margin: auto;
  width: 80%;
}
.spotPictureRender {
 width: 100%;

  border-radius: 15px;
  object-fit: cover;
}
.imgDelete {
  position: relative;
  top: 2rem;
  left: 10%;
  opacity: 0.9;
}
.spotPictureDelete {
  width: 400px;
  border-radius: 25px;
}

.accountInfo {
  background-color: #f0f1f1;
  margin: auto;
  width: 90%;
  max-width: 400px;
  border-radius: 25px;
  padding: 2rem;
  overflow: auto;
}
.imagePosted {
  font-size: 12px;
}
.spotPicContainer {
  background-color: #ffffff;
  margin: 1rem;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 15px;
  width: 300px;
  display: inline-block;
}
.spotPicContainerNoEdit {
  background-color: #ffffff;
  margin: 0rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 15px;

  display: inline-block;
}
.spotPictureRenderContainer {
  margin: auto;
}
.commentCard {
}
.editIcon {
  color: #702586;
}
.editIcon:hover {
  color: #9947b2;
}
.uploadIcon {
  color: #517bf7;
}
.uploadIcon:hover {
  color: #8fabfc;
}

.spotEditDiv {
  background-color: #f0f1f1;
  width: 80%;
  margin: auto;
  margin-top: 3rem;
  padding: 2rem;
  border-radius: 25px;
}
.editCommentDiv {
  background-color: #f0f1f1;
  width: 80%;
  margin: auto;
  margin-top: 1rem;
  border-radius: 25px;
  padding: 2rem;
}
.commentRender {
  background-color: #f0f1f1;
  padding: 2rem;
  border-radius: 25px;
  margin: 2rem;
}
.commentTitle {
  background-color: #dfdddd;
  padding: 0.5rem;
  border-radius: 25px;
  font-size: 14px;
}
.loading {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 25px;
  width: 400px;
  margin: auto;
}
.login {
  background-color: #f0f1f1;
  border-radius: 25px;
  margin: auto;
  width: 400px;
  padding: 2rem;
}
.loginButtonContainer {
  margin-top: 1rem;
  display: inline-block;
}
.loginButtonSignUp {
  background-color: #9673c8;
  color: white;
  width: 6rem;
  border-radius: 15px;
  padding: 0.25rem;
  display: inline-block;
}
.loginButtonSignUp a {
  color: white;
  text-decoration: none;
}
.loginButtonLogin {
  background-color: #1a5aef;
  color: white;
  width: 7rem;
  margin: auto;
  border-radius: 15px;
  padding: 0.25rem;
}
.loginButtonLogin a {
  color: white;
  text-decoration: none;
}
.loginButtonPassword {
  background-color: #24930e;
  color: white;
  width: 7rem;
  margin: auto;
  border-radius: 15px;
  padding: 0.25rem;
}
.loginButtonPassword a {
  color: white;
  text-decoration: none;
}
.addSpotContainer {
  background-color: #f0f1f1;
  padding: 2rem;
  margin: auto;
  width: 80%;
  margin-top: 3rem;

  border-radius: 25px;
}
.addSpotUpperContainer {
  padding-bottom: 3rem;
}
.imageUploadSpot {
  background-color: #f0f1f1;
  padding: 1rem;
  border-radius: 25px;
  width: 80%;
  margin: auto;
  margin-top: 2rem;
}

.singleSpotLL {
  padding: 2rem 0;
  width: 80%;
  margin: auto;
}
.singleSpotLLInner {
  background-color: #f0f1f1;
  border-radius: 50px;
  padding: 1rem;
  width: 100%;
}

.spotNameDiv {
  background-color: rgba(248, 248, 248, 0.8);
  padding: 1rem;
  width: 90%;

  border-radius: 25px;
  display: inline-block;
  font-weight: bold;
  font-size: 36px;
  overflow: auto;
  margin-top: 0;
}
.spotNameLabel {
  font-size: 42px;
  padding: 0.25rem;
  margin: 2rem;
  margin-top: 0;
  border-radius: 25px;
  display: inline-block;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 0;
}

.viewIcon {
  color: rgb(117, 117, 117);
}
.viewIcon:hover {
  color: rgb(180, 180, 180);
}
.deleteComment {
  background-color: #f0f1f1;
  padding: 2rem;
  margin: 2rem;
  border-radius: 25px;
}



.displayNameStyle {
  padding-top: 2rem;
  background-color: #f0f1f1;
  margin: 2rem;
  border-radius: 25px;
  padding: 2rem;
  padding-top: 2rem;
}

.confirmUserStyle {
  background-color: #f0f1f1;
  margin: 2rem;
  border-radius: 25px;
  padding: 2rem;
  padding-top: 2rem;
}
.confirmUserStyle.updates {
 font-size:12px;
}
.imageUploadUserStyle {
  background-color: #f0f1f1;
  margin: 2rem;
  border-radius: 25px;
  padding: 2rem;
  padding-top: 2rem;
}
.deleteSpotDiv {
  background-color: #f0f1f1;
  margin: 2rem;
  border-radius: 25px;
  padding: 2rem;
  padding-top: 2rem;
}
.deleteImageDiv {
  background-color: #f0f1f1;
  margin: 2rem;
  border-radius: 25px;
  padding: 2rem;
  padding-top: 2rem;
}

.userPage {
  background-color: #f0f1f1;
  margin: auto;
  border-radius: 25px;
  padding: 2rem;
  padding-top: 2rem;
  width: 100%;
}
.userPageContainer {
  background-color: #f0f1f1;
  margin: auto;
  margin-top: 2rem;
  border-radius: 25px;
  padding: 2rem;
  padding-top: 2rem;
  width: 80%;
  max-width: 800px;
}

.userPicture {
  width: 100%;
  border-radius: 25px;
  max-width: 400px;
}

.dashboardStyle {
  background-color: #f0f1f1;
  margin: auto;
  border-radius: 25px;
  padding: 2rem;
  padding-top: 2rem;
  width: 90%;
}
.spotsView {
  background-color: #f0f1f1;
  margin: auto;
  border-radius: 25px;
  padding: 2rem;
  padding-top: 2rem;
  width: 90%;
  margin-top: 2rem;
}

.slantyardVersionAccount{
  color:#656565;
  margin:30px;
}
