.errorSpan{
     color: #FF0000; 

  

}
.globalTopMargin
{ padding: 1rem 0; }

.adminButtons{
     margin-right: 0px;
     margin-top: 5px;
     display:inline;
    


}
.adminButtonsEach{
     margin:5px;
}
/* Text for Posted Edited Font */
.PostedEditedText{
     font-size:12px;
     padding-left:10px;
     padding-right:10px;
}

.spotButton{
     padding-right:10px,
}